.button {
  background: linear-gradient($light-blue, $dark-blue);
  border: 0;
  border-radius: 4px;
  color: rgba($white, 0.85);
  cursor: pointer;
  display: inline-block;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 1rem;
  outline: none;
  padding: 8px 12px;
  text-transform: uppercase;
  touch-action: manipulation;

  &:focus:not(:active) {
    box-shadow: 0 0 0 2px darken($dark-purple, 15%);
  }

  &--secondary {
    background: linear-gradient(rgba($white, 0.1), rgba($white, 0.05));
  }

  &--danger {
    background: linear-gradient($red 0%, $magenta 100%);
  }

  &--plain {
    background: transparent;
    border: 0;
    padding: 0;

    &:focus:not(:active) {
      box-shadow: none;
    }
  }
}

.button-group {
  margin-top: 24px;
  text-align: right;

  .button:not(:last-child) {
    margin-right: 16px;
  }
}