.header {
  background: rgba($white, 0.075);
  padding: 40px 16px 20px;

  &--collapsed {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    padding: 12px 4px;
  }

  &--animating {
    animation: transition-header-in 0.2s forwards cubic-bezier(0, 0, 0.2, 1);
  }
}

.header__title {
  flex-grow: 1;
  margin-right: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header__icon {
  fill: rgba($white, 0.25);
  flex-shrink: 0;
  height: 24px;
  margin: auto 8px auto 0;
  width: 24px;
}

.header__title-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .button {
    margin: auto 0;
  }
}

.header__back-link {
  align-items: center;
  color: $light-blue;
  display: inline-flex;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.header__back-link__icon {
  fill: $light-blue;
  margin-right: 2px;
}

.subheader {
  margin-bottom: 16px;
}

@keyframes transition-header-in {
  100% {
    transform: translate(0);
  }
}
