.header {
  padding: 40px 16px 20px;
  background: rgba(#fff, .075);
  &--collapsed {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 12px 4px;
  }
}

.header__title {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 8px;
  white-space: nowrap;
  flex-grow: 1;
}

.header__icon {
  fill: rgba(#fff, 0.25);
  height: 24px;
  width: 24px;
  margin: auto 8px auto 0;
  flex-shrink: 0;
}

.header__title-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .button {
    margin: auto 0;
  }
}

.header__back-link {
  color: $lightBlue;
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .02em;
}

.header__back-link__icon {
  fill: $lightBlue;
  margin-right: 2px;
}
