.life-total {
  margin: auto;
  text-align: center;
}

.life-total__number {
  font-size: 10em;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 0.5rem;
}

.life-total__control {
  font-size: 2rem;
  margin: 0 12px;
  padding: 12px 0 16px;
  -webkit-touch-callout: none;
  user-select: none;
  width: 80px;
}

.life-total__reset {
  fill: rgba($white, 0.1);
  width: 40px;
  height: 40px;
  margin-top: 48px;
}
