.life-total {
  margin-bottom: 15%;
  flex-grow: 1;
  text-align: center;
}

.life-total__number {
  font-size: 10em;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.life-total__control {
  font-size: 2rem;
  width: 80px;
  padding: 12px 0 16px;
  margin: 0 12px;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.life-total__reset {
  fill: rgba(#fff, .1);
  width: 40px;
  height: 40px;
  margin-top: 24px;
}