/* https://github.com/tobiasahlin/SpinKit */

$loader-delay: 0.5;

.loader {
  animation: loader 0s forwards;
  animation-delay: #{$loader-delay}s;
  height: 48px;
  opacity: 0;
  width: 48px;

  &__cube {
    animation: cube 1.5s infinite cubic-bezier(0.4, 0, 0.2, 1);
    background: $light-purple;
    float: left;
    height: calc(100% / 3);
    width: calc(100% / 3);
    will-change: transform;

    @for $i from 1 through 9 {
      $row: ceil($i / 3);
      $col: ($i - 1) % 3 + 1;
      $val: $row + $col - (2 * ($row - 1));

      &:nth-of-type(#{$i}) {
        animation-delay: #{$val / 10 + $loader-delay}s;
      }
    }
  }
}

@keyframes loader {
  100% {
    opacity: 1;
  }
}

@keyframes cube {
  0%,
  70%,
  100% {
    transform: scale(1);
  }

  35% {
    transform: scale(0);
  }
}
