.tab-bar {
  $elem: &;
  align-items: center;
  background: linear-gradient(rgba(#fff, 0.05), rgba(#fff, 0.01));
  display: flex;
  flex-shrink: 0;
  height: 48px;
  justify-content: center;

  &__item {
    height: 32px;
    margin: 0 8px;
  }

  &__item-icon {
    fill: rgba(#fff, 0.25);

    #{$elem}__item--active & {
      fill: $light-blue;
    }
  }
}
