.text-input-wrap {
  margin-bottom: 16px;
}

.text-input-label {
  color: rgba($white, 0.75);
  display: block;
  font-size: 0.75rem;
  margin-bottom: 8px;
}

.text-input {
  appearance: none;
  background: none;
  border: 2px solid rgba($white, 0.15);
  border-radius: 4px;
  color: $white;
  display: block;
  font-size: 1rem;
  padding: 8px;
  width: 100%;

  &--error {
    border-color: $red;
  }

  &:focus {
    border-color: $light-blue;
    outline: none;
  }

  &:invalid {
    // drops red outline in firefox
    box-shadow: none;
  }
}

.text-input-error {
  color: $red;
  font-size: 0.75em;
  margin-top: 4px;
}
