$bar-colors: (
  $red,
  $green,
  $light-blue,
  $light-purple
);

.totals-bar {
  $elem: &;
  display: flex;

  &__user {
    flex-basis: 25%;
    flex-grow: 1;
    flex-shrink: 0;
    overflow: hidden;
    text-align: center;
  }

  &__user-id {
    border-bottom: 2px solid $red;
    color: rgba($white, 0.65);
    font-size: 0.75em;
    font-weight: bold;
    overflow: hidden;
    padding: 8px;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;

    @for $i from 1 through length($bar-colors) {
      #{$elem}__user:nth-of-type(#{$i}n) & {
        border-color: nth($bar-colors, $i);
      }
    }
  }

  &__user-life {
    background: linear-gradient(rgba($white, 0.1), rgba($white, 0.05));
    font-size: 2em;
    font-weight: bold;
    overflow: hidden;
    padding: 4px;
    text-overflow: ellipsis;
  }
}
