.tab-bar {
  align-items: center;
  background: linear-gradient(rgba($white, 0.05), rgba($white, 0.01));
  display: flex;
  flex-shrink: 0;
  height: 48px;
  justify-content: center;
}

.tab-bar__item {
  height: 32px;
  margin: 0 24px;
}

.tab-bar__item-icon {
  fill: rgba($white, 0.25);
  .tab-bar__item--active & {
    fill: $light-blue;
  }
}
