.underlined-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.underlined-list__item,
.underlined-list__item-wrap {
  align-items: center;
  display: flex;
  width: 100%;
}

.underlined-list__item {
  &--active {
    color: $light-blue;
    font-weight: bold;
  }

  &:not(:last-child) {
    border-bottom: 1px solid rgba($white, 0.25);
    margin-bottom: 16px;
    padding-bottom: 16px;
  }
}

.underlined-list__primary {
  flex-grow: 1;
  margin-right: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.underlined-list__icon {
  fill: rgba($white, 0.25);
  margin-right: 12px;
}

.underlined-list__secondary {
  font-size: 12px;
  font-weight: bold;
  opacity: 0.5;
}