@import './vars/colors';

@import './components/tab-bar';
@import './components/header';
@import './components/button';
@import './components/text-input';
@import './components/underlined-list';
@import './components/totals-bar';
@import './components/life-total';
@import './components/loader';
@import './components/toast';

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: darken($dark-purple, 15%);
  color: $white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  margin: 0;
  overscroll-behavior-y: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

a {
  color: white;
  text-decoration: none;
}

.app-root {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.view-wrap {
  background: $dark-purple;
  box-shadow: 0 0 160px 20px rgba($black, 0.25);
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  max-width: 768px;
}

.view-main {
  flex-grow: 1;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 16px;

  &--centered {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
